{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Crear Articulo {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div id="content" class="8u skel-cell-important">
                <section>
                    <form class="" action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="crear_articulo" value="Publicar">
                    </form>
                </section>
            </div>
        </div>
    </div>

{% endblock content %}
