{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Usuario: {{ object.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>{{ object.username }}</h2>
            {% if object.name %}<p>{{ object.name }}</p>{% endif %}
            <div class="col-sm-4">
                {% if object.picture %}
                    <img src="{{ MEDIA_URL }}{{ object.picture }}" alt="profile_pic" height="300" />
                {% else %}
                    <img src="{% static 'img/profile_pic.png' %}" alt="" />
                {% endif %}
            </div>
            <div class="col-sm-8">
                {% if object.twitter_account %}<p><a href="{{ object.twitter_account }}">Perfil de Twitter</a></p>{% endif %}
                {% if object.github_account %}<p><a href="{{ object.github_account }}">Perfil de GitHub</a></p>{% endif %}
                {% if object.linkedin_account %}<p><a href="{{ object.linkedin_account }}">Perfil de LinkedIn</a></p>{% endif %}
                {% if object.bio %}<p>{{ object.bio }}</p> {% endif %}
            </div>
        </div>
        {% if object == request.user %}
            <!-- Action buttons -->
            <div class="row">
                <div class="col-sm-12 ">
                    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
                    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
                    <!-- Your Stuff: Custom user template urls -->
                </div>
            </div>
            <!-- End Action buttons -->
        {% endif %}
    </div>

{% endblock content %}
