{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ pregunta.titulo }}{% endblock %}

{% block content %}

    <div class="container" style="padding-bottom: 30px;">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ pregunta.titulo }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-12">
                <!-- Blog Post -->
                <div class="postmetadata">
                    <ul>
                        <li><i class="lead fa fa-user"></i> <a href="{% url 'users:detail' pregunta.autor.username %}">{{ pregunta.autor.get_full_name }}</a></li>
                        <li><i class="fa fa-calendar"></i>Fecha de publicación: {{ pregunta.creado_en }}</li>
                        <li><i class="fa fa-tag"></i>
                            {% for tag in pregunta.tags.all %}
                                <a href="#">{{ tag }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
                <hr>
                <!-- Post Content -->
                <p>{{ pregunta.descripcion }}</p>
                <hr>
                <div class="well">
                    <a class="btn btn-primary" href="{% url 'comentar_pregunta' pregunta.id %}">Comentar esta pregunta</a>
                    <a class="pull-right btn btn-primary" href="{% url 'crear_respuesta' pregunta.id %}">Ofrecer una Respuesta</a>
                    <div class="row">
                        {% if pregunta.comentariopregunta_set.all %}
                            {% for comentario in pregunta.comentariopregunta_set.all %}
                                <p>{{ comentario }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <h4>Respuestas</h4>
                {% for respuesta in pregunta.respuesta_set.all %}
                    <div class="row">
                        <div class ="col-md-9">
                        <div id="respuesta" class="alert alert-primary" role="alert">{{ respuesta.descripcion }}</div>
                        <a class="btn btn-primary" href="{% url 'comentar_respuesta' respuesta.id %}" class="pull-right">Comentar Respuesta</a>
                        {% if respuesta.comentariorespuesta_set.all %}
                            <div class="well">
                            <h4>Comentarios</h4>
                            {% for comentario in respuesta.comentariorespuesta_set.all %}
                                <p>{{ comentario.comentario }}</p>
                                <p><small>, <a href="{% url 'users:detail' comentario.comentador.username %}"><b>{{ comentario.comentador }}</b></a>, {{ comentario.creado_en }}</small></p>
                                <hr>
                            {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                        <div class ="col-md-2">
                            <p class="pull-right">- <b><a href="{% url 'users:detail' respuesta.autor.username %}">{{ respuesta.autor }}</a></b></p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <!-- <div class="well">
                    <a class="btn btn-primary" href="{% url 'comentar_pregunta' pregunta.id %}">Comentar esta pregunta</a>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
<!-- /.row -->
{% endblock content %}
