{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{ articulo.titulo}} {% endblock %}

{% block content %}
    <div id="main" class="wrapper style4">
		<div class="container">
			<div class="row">
				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header class="major">
                            <div class="text-center"><img src="{{ MEDIA_URL }}{{ articulo.imagen_destacada }}" alt="article pic"></div>
                            <h3>{{ articulo.titulo }}</h3>
                            <span class="byline">Publicado el {{ articulo.creado_en }}</span>
						</header>
                        <br>
						<p>{{ articulo.contenido }}</p>
                        <br>
                        <p>Autor: {{ articulo.autor.get_full_name }}</p>

                    </section>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
