{% extends "base.html" %}
{% load staticfiles %}
{% block extracss %}{% endblock %}

{% block content %}

    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static 'img/fachada_1.jpg' %});"></div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static 'img/fachada_2.jpg' %});"></div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static 'img/fachada_3.jpg' %});"></div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static 'img/fachada_4.jpg' %});"></div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url({% static 'img/fachada_5.jpg' %});"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center page-header">Bienvenido al portal de la Comunidad de DjangoCali</h1>
            </div>
        </div>
    </div>
    <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-lg-3" >
                <div class="align-center">
                    <i class="fa fa-code fa-5x mar-bot20"></i>
                    <h4 class="text-bold">We Love to Code</h4>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                    Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-3" >
                <div class="align-center">
                    <i class="fa fa-terminal fa-5x mar-bot20"></i>
                    <h4 class="text-bold">We Love to Write</h4>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                    Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-3" >
                <div class="align-center">
                    <i class="fa fa-code-fork fa-5x mar-bot20"></i>
                    <h4 class="text-bold">We Love to Share</h4>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                    Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

            <div class="col-lg-3" >
                <div class="align-center">
                    <i class="fa fa-map-marker fa-5x mar-bot20"></i>
                    <h4 class="text-bold">We Love our City</h4>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no.
                    Mei cu dicat voluptaria volumus.
                    </p>
                </div>
            </div>

        </div>

    </div>
    </section>

{% endblock content %}

{% block extrajs %}

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
        interval: 5000 //changes the speed
        })
    </script>

{% endblock %}}
